<br />
<div class="panel panel-info">
    <div class="panel-heading">
        <span translate> Title </span>
        
        <div class="pull-right" style="margin-top: -7px;">
            <select (change)="switchLanguage($event.target.value)" class="form-control">
                <option value="">Select Language</option>
                <option *ngFor="let lang of languages" value="{{lang.code}}" [selected]="language == lang.code">{{lang.text}}</option>
            </select>
        </div>
    </div>
    <div class="panel-body">
        <p><strong><span translate>Today</span>: {{currentDate | date:'full'}}</strong></p>
        <div>
            <p translate>Content</p>
            <p translate>Content2</p>
            <hr />
            <p translate>Content</p>
            <p translate>Content2</p>
        </div>
    </div>
</div>