<br />
<div class="panel panel-primary">
    <div class="panel-heading">Module 2 Assignment</div>
    <div class="panel-body">
        <form class="form-inline" action="/action_page.php">
            <div class="form-group">
                <label for="keyword">Enter Keyword:</label>
                <input [(ngModel)]="keywords" type="text" class="form-control" id="keyword" name="keyword">
                {{keywords}}
            </div>
        </form> 
        <br />
        <app-admin [keywords]="keywords"></app-admin>
    </div>
</div>