<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        {{ title }}
    </div>
    <div class="panel-body">
        <form class="form-inline" action="/action_page.php">
            <div class="form-group">
                <label for="keyword">Enter Keyword:&nbsp;</label>
                <input type="text" class="form-control" id="keyword" name="keyword" [(ngModel)]="keyword" />
                {{keyword}}
            </div>
        </form> 
        <br />
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of data | filter:keyword">
                    <td>{{customer.name}}</td>
                    <td>{{customer.email}}</td>
                    <td>{{customer.phone}}</td>
                    <td>{{customer.address}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>