<br />
<div class="panel panel-info">
    <div class="panel-heading">
        <span translate> Title </span>
        <div class="pull-right" style="margin-top: -7px;">
            <select (change)="switchLanguage($event.target.value)" class="form-control">
                <option>Select Language</option>
                <option *ngFor="let lang of languages" value="{{lang.code}}">{{lang.text}}</option>
            </select>
        </div>
    </div>
    <div class="panel-body">
        <p>Today Is: </p>
        <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet ac arcu tempus suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum efficitur a odio at lacinia. Vestibulum quis diam erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean auctor velit venenatis, lacinia ex sed, consequat eros. Curabitur porttitor enim id dolor pellentesque, et consectetur urna venenatis. Donec pulvinar risus imperdiet condimentum condimentum. Vivamus ac metus tempus sem dapibus sagittis. Integer imperdiet vitae ligula in malesuada. Aenean luctus leo augue, sit amet mollis diam fringilla at. Mauris feugiat mauris vel velit vehicula varius.</p>

            <p>Etiam vestibulum accumsan felis ut mollis. Fusce lectus lorem, pretium sed magna vitae, condimentum posuere tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque nec consequat massa. Fusce consectetur aliquam enim, id luctus enim lobortis sit amet. Etiam rhoncus consectetur aliquet. Nullam eleifend, lorem ut semper varius, diam tellus dignissim erat, sed finibus sapien turpis ut lacus. Aliquam egestas tincidunt mi, quis fermentum nisl tristique vel. Nunc posuere erat vel dui molestie fringilla.</p>

            <p>In dictum dolor sed velit posuere, id efficitur enim suscipit. Quisque eget placerat felis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus eu arcu justo. Pellentesque tempus ante viverra sem interdum bibendum. Morbi porttitor, justo vel dictum imperdiet, elit nulla viverra nisi, at finibus nunc metus non purus. Aliquam eget diam eleifend, mattis elit vitae, efficitur augue. Vivamus malesuada turpis sed aliquet pulvinar.</p>
        </div>
    </div>
</div>