<div class="row" style="margin-top:10%">
    <div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">
            Login
        </div>

        <div class="card-body">
            <form novalidate 
                    (ngSubmit)="save(form)"
                    [formGroup]="loginForm">
                <div class="form-group" [ngClass]="{'has-error': (loginForm.get('username').touched ||
                loginForm.get('username').dirty) &&
                !loginForm.get('username').valid}">
                    <label for="username">Username:</label>
                    <input placeholder="Username" formControlName="username" type="text" class="form-control" id="username">

                    <span class="help-block" *ngIf="(loginForm.get('username').touched ||
                                            loginForm.get('username').dirty) &&
                                            loginForm.get('username').errors">

                        <span *ngIf="loginForm.get('username').errors.required">
                        Username can't be empty.
                        </span>
                        <span *ngIf="loginForm.get('username').errors.minlength">
                            Minimum length should be at least 3 characters.
                        </span>
                    </span>
                </div>
                <div class="form-group" [ngClass]="{'has-error': (loginForm.get('password').touched ||
                loginForm.get('password').dirty) &&
                !loginForm.get('password').valid}">
                    <label for="password">Password:</label>
                    <input placeholder="Password" formControlName="password" type="password" class="form-control" id="password">
                    <span class="help-block" *ngIf="(loginForm.get('password').touched ||
                                            loginForm.get('password').dirty) &&
                                            loginForm.get('password').errors">

                        <span *ngIf="loginForm.get('password').errors.required">
                        Password can't be empty.
                        </span>
                        <span *ngIf="loginForm.get('password').errors.minlength">
                            Minimum length should be at least 6 characters.
                        </span>
                    </span>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
            </form> 
        </div>
    </div>
    </div>
</div>