<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        Home Page
    </div>

    <div class="panel-body">
        Assignment 4, following data coming from a service and date is being formatted using date pipe.<br /><br />
        <table class="table table-bordered">
            <thead>
                <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Price</th>
                <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items">
                    <td>{{item.name}}</td>
                    <td>{{item.author}}</td>
                    <td>{{item.price | currency}}</td>
                    <td>{{item.date | date:'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
            </table>
                
    </div>
</div>