<table class="table table-bordered">
<thead>
    <tr>
        <th>Username</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let user of filteredData">
        <td>{{user.username}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
    </tr>
</tbody>
</table>