<br /><br />
<div class="panel panel-danger">
    <div class="panel-heading">
        Date Formatter
    </div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group">
                <label for="dateinput"> Enter a Valid date (yyyymmdd): </label>
                <input placeholder="yyyymmdd" [(ngModel)]="inputDate" type="text" class="form-control" name="dateinput" id="dateinput" />
            </div>
        </form>
        Input Date: <span class="badge">{{inputDate}}</span>
        From Now: <span class="badge">{{inputDate | dateformat:inputDate}}</span>
    </div>
</div>