<br />
<div class="panel panel-primary">
    <div class="panel-heading">Module 3 Assignment</div>
    <div class="panel-body">
        <p>This assignment is for module 3, User component accessing data from admin component and displaying in the UI. Admin component uses DataService for data provision and DataService uses DataModel to map data in the service...
        </p>
        <form class="form-inline" action="/action_page.php">
            <div class="form-group">
                <label for="keyword">Enter Keyword:</label>
                <input [(ngModel)]="keywords" type="text" class="form-control" id="keyword" name="keyword">
                {{keywords}}
            </div>
        </form> 
        <br />
        <app-admin [keywords]="keywords"></app-admin>
    </div>
</div>